body, html{
	overflow: hidden;
	padding: 0;
	margin: 0;
	height: 100%;
}
.main_loader{
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: #FFF;
	z-index: 1;
}
.main_loader svg{
	width: 100%;
	height: 100%;
}
.percentage_line{
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -0.5px 0 0 -140px;
	width: 280px;
	height: 1px;
	background: #EEE;
	z-index: 2;
}
.loading_msg{
	position: absolute;
	top: 50%;
	width: 100%;
	height: 40px;
	font-size: 15px;
	font-family: 'Ubuntu', sans-serif;
	text-transform: uppercase;
	letter-spacing: 3px;
	color: #47454D;
	text-align: center;
	z-index: 2;
}
.img {
	width:100%;
	float:left;
}
.img img{
	width:100%;
}
.num1{
	width:auto;
	font-size:25px;
	opacity:0;
	animation: moving 5s infinite ease;
	-webkit-animation: moving 5s infinite ease;
}
.num2{
	width:auto;
	font-size:25px;
	opacity:0;
	animation: moving 5s infinite ease;
	-webkit-animation: moving 5s infinite ease;
	animation-delay:1s;
	-webkit-animation-delay:1s;
}
.num3{
	width:auto;
	font-size:25px;
	opacity:0;
	animation: moving 5s infinite ease;
	-webkit-animation: moving 5s infinite ease;
	animation-delay:2s;
	-webkit-animation-delay:2s;
}
@-webkit-keyframes moving {
	0% {
		opacity:0;
	}
	49% {
		opacity:0;
	}
	50% {
		opacity:1;
	}
	100% {
		opacity:1;
	}
}
@keyframes moving {
	0% {
		opacity:0;
	}
	49% {
		opacity:0;
	}
	50% {
		opacity:1;
	}
	100% {
		opacity:1;
	}
}